.tooltipped-error.tooltipped-error.tooltipped-n:before {
  border-top-color: red;
}
.tooltipped-error.tooltipped-error:after {
  background-color: red;
  color: white;
}

.tooltipped-wrapped.tooltipped-error:after {
  max-width: 150px;
}

.file > details > summary {
  position: relative;
}

.file > details > summary::-webkit-details-marker {
  display: none;
}

.file > .details-overlay[open] > summary:before {
  display: none;
}
